@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #17c5ce;
  --color-secondary: teal;
  --color-accent: #ff6b6b;
  --color-neutral: #333333;

  --color-base-100: #ffffff; /* bg */
  --color-base-200: #f2f4f6; /* light bg sections */
  --color-text: #000000;   /* black text */
  --color-muted: #6B7280; /* gray-500 in Tailwind */
  --color-base-300: #e5e7eb;

  --color-info: #3b82f6;
  --color-success: #10b981;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #17c5ce;
  --color-secondary: teal;
  --color-accent: #ff6b6b;
  --color-neutral: #1e1e2f;

  --color-base-100: #1e1e2f;
  --color-base-200: #2a2a3d;
  --color-base-300: #3b3b4f;
  --color-text: #ffffff;   /* white text */
  --color-muted: #9CA3AF; /* gray-400 in Tailwind */

  --color-info: #60a5fa;
  --color-success: #34d399;
  --color-warning: #fcd34d;
  --color-error: #f87171;
}

/* @import 'leaflet/dist/leaflet.css'; */

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg {
  background-color: #f2f4f6;
}
